<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <p th:text="'Welcome, ' + ${name} + '!'" />
   <p th:text="'Now is , ' + ${now} + '!'" />
  <a href="/about">About</a>
</body>
</html>