<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="'Name : ' + ${trainer.getName()} + '!'" />
<p th:text="'Surname : ' + ${trainer.getSurname()} + '!'" />
<p th:text="'Email : ' + ${trainer.getEmail()} + '!'" />
<p th:text="'Phone : ' + ${trainer.getPhone()} + '!'" />
</body>
</html>